
*.vsidx
/.vs
*.sln
*.vcxproj
*.filters
*.user
*.obj
*.recipe
*.ilk
*.log
*.tlog
*.idb
*.pdb
*.exe
*.dll
Project Zen/x64/Debug/Project Zen.vcxproj.FileListAbsolute.txt
/Project Zen/x64/Release
/project zen/.vs
/project zen/project zen/x64
*.zip
